In [3]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

dir_path = os.getcwd()
plt.style.use("bmh")

## Load Full ETFs Dataset

In [2]:
etfs_df = pd.read_csv(os.path.join(dir_path, "data", "inputs", "etfs.csv"))
etfs_df["date"] = pd.to_datetime(etfs_df["date"])
etfs_df.set_index("date", inplace=True)

etfs_df.head()

,SPY,XLI,XLE,XLK,XLV,XLU,XLF,XLY,XLP,XLB,...,IEI,SHY,MBB,VCIT,USHY,UUP,FXE,FXB,FXY,FXA
date,,,,,,,,,,,,,,,,,,,,,
2000-01-03,145.4375,28.8438,26.5625,55.4375,30.2969,27.4531,18.5749,30.1250,22.7500,25.9688,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-04,139.7500,28.0469,26.0625,52.6250,29.6094,26.6250,17.7629,29.2188,22.1094,25.7188,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-05,140.0000,27.9219,26.7500,51.8438,29.3438,27.2969,17.6233,28.8594,22.5000,26.7813,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-06,137.7500,28.2969,27.7813,50.1250,29.4375,27.2500,18.3973,29.1875,22.9219,27.4688,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-07,145.7500,29.3750,28.0781,51.0000,29.7969,27.4844,18.7018,30.5625,24.3750,27.4531,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Build Daily Data

In [18]:
daily_etfs_df = etfs_df.resample("B").ffill()

daily_etfs_df.head()

,SPY,XLI,XLE,XLK,XLV,XLU,XLF,XLY,XLP,XLB,...,IEI,SHY,MBB,VCIT,USHY,UUP,FXE,FXB,FXY,FXA
date,,,,,,,,,,,,,,,,,,,,,
2000-01-03,145.4375,28.8438,26.5625,55.4375,30.2969,27.4531,18.5749,30.1250,22.7500,25.9688,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-04,139.7500,28.0469,26.0625,52.6250,29.6094,26.6250,17.7629,29.2188,22.1094,25.7188,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-05,140.0000,27.9219,26.7500,51.8438,29.3438,27.2969,17.6233,28.8594,22.5000,26.7813,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-06,137.7500,28.2969,27.7813,50.1250,29.4375,27.2500,18.3973,29.1875,22.9219,27.4688,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-07,145.7500,29.3750,28.0781,51.0000,29.7969,27.4844,18.7018,30.5625,24.3750,27.4531,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
daily_etfs_df.to_csv(os.path.join(dir_path, "data", "inputs", "daily_etfs.csv"), index=True)

## Build Daily Returns Data

In [7]:
rets_etfs_df = np.log(etfs_df).diff()

rets_etfs_df.head()

,SPY,XLI,XLE,XLK,XLV,XLU,XLF,XLY,XLP,XLB,...,IEI,SHY,MBB,VCIT,USHY,UUP,FXE,FXB,FXY,FXA
date,,,,,,,,,,,,,,,,,,,,,
2000-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-04,-0.039891,-0.028017,-0.019003,-0.052065,-0.022954,-0.030628,-0.044699,-0.030543,-0.028562,-0.009674,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-05,0.001787,-0.004467,0.026037,-0.014956,-0.009011,0.024923,-0.007890,-0.012377,0.017512,0.040482,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-06,-0.016202,0.013341,0.037829,-0.033715,0.003188,-0.001720,0.042982,0.011305,0.018577,0.025347,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-07,0.056452,0.037392,0.010627,0.017306,0.012135,0.008565,0.016416,0.046033,0.061465,-0.000572,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
rets_etfs_df.to_csv(os.path.join(dir_path, "data", "inputs", "daily_ret_etfs.csv"), index=True)

## Build Monthly Data

In [16]:
monthly_etfs_df = etfs_df.resample("B").ffill().resample("BMS").first()

monthly_etfs_df.tail()

,SPY,XLI,XLE,XLK,XLV,XLU,XLF,XLY,XLP,XLB,...,IEI,SHY,MBB,VCIT,USHY,UUP,FXE,FXB,FXY,FXA
date,,,,,,,,,,,,,,,,,,,,,
2022-12-01,407.38,101.75,90.85,136.15,139.42,71.37,36.10,146.15,76.84,82.85,...,116.43,81.43,94.37,79.14,35.34,28.26,97.10,117.6000,68.99,67.4040
2023-01-02,382.43,98.21,87.47,124.44,135.85,70.50,34.20,129.16,74.55,77.68,...,114.89,81.17,92.75,77.51,34.53,27.81,98.80,116.1400,71.10,67.4000
2023-02-01,410.80,102.59,88.16,139.16,133.99,69.21,36.56,151.52,74.33,85.21,...,117.73,81.79,96.45,81.22,35.94,27.25,101.40,118.8478,72.39,70.5755
2023-03-01,394.74,101.37,85.34,135.52,126.96,63.93,35.60,143.71,71.50,82.47,...,113.79,80.68,92.07,77.27,34.70,28.27,98.38,115.4900,68.41,66.7500
2023-04-03,410.95,101.36,86.58,150.77,130.91,67.23,32.21,148.17,75.10,81.17,...,117.80,82.08,94.90,80.47,35.35,27.75,100.64,119.3600,70.35,67.2000

In [17]:
monthly_etfs_df.to_csv(os.path.join(dir_path, "data", "inputs", "monthly_etfs.csv"), index=True)

## Build Monthly Returns Data

In [20]:
monthly_ret_etfs_df = np.log(etfs_df.resample("B").ffill()).diff(25).resample("BMS").first()

monthly_ret_etfs_df.tail()

,SPY,XLI,XLE,XLK,XLV,XLU,XLF,XLY,XLP,XLB,...,IEI,SHY,MBB,VCIT,USHY,UUP,FXE,FXB,FXY,FXA
date,,,,,,,,,,,,,,,,,,,,,
2022-12-01,0.069628,0.095635,0.021248,0.092025,0.064510,0.084149,0.078935,0.009073,0.070630,0.112832,...,0.018551,0.002336,0.036913,0.049207,0.017700,-0.050709,0.053844,0.055060,0.076642,0.052894
2023-01-02,-0.034641,-0.012648,-0.021265,-0.049387,-0.001986,0.004122,-0.037025,-0.093013,-0.018737,-0.036032,...,-0.003649,-0.000493,-0.008695,-0.005019,-0.006926,-0.034632,0.035543,0.010821,0.057158,0.024025
2023-02-01,0.086764,0.051914,0.024574,0.136286,-0.006546,-0.020876,0.077902,0.182374,-0.003626,0.096261,...,0.023984,0.007117,0.038470,0.047400,0.056079,-0.029648,0.035024,0.027664,0.042327,0.057581
2023-03-01,-0.014112,0.011908,-0.056051,0.011354,-0.050379,-0.071378,-0.012839,0.014015,-0.025272,-0.009654,...,-0.031999,-0.013542,-0.044608,-0.043804,-0.028411,0.032719,-0.023705,-0.032290,-0.050591,-0.052102
2023-04-03,0.032698,0.001580,0.019477,0.097089,0.021543,0.016044,-0.101472,0.017222,0.033442,-0.003566,...,0.028850,0.013122,0.019687,0.031560,0.008238,-0.021038,0.027195,0.028382,0.028695,0.007782

In [21]:
monthly_ret_etfs_df.to_csv(os.path.join(dir_path, "data", "inputs", "monthly_ret_etfs.csv"), index=True)