In [1]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

dir_path = os.getcwd()
plt.style.use("bmh")

In [3]:
etfs_df = pd.read_csv(os.path.join(dir_path, "data", "inputs", "etfs_full.csv"))
etfs_df["date"] = pd.to_datetime(etfs_df["date"])
etfs_df.set_index("date", inplace=True)

etfs_df.head()

,SPY,XLI,XLE,XLK,XLV,XLU,XLF,XLY,XLP,XLB,...,IEI,SHY,MBB,VCIT,USHY,UUP,FXE,FXB,FXY,FXA
date,,,,,,,,,,,,,,,,,,,,,
2000-01-03,145.4375,28.8438,26.5625,55.4375,30.2969,27.4531,18.5749,30.1250,22.7500,25.9688,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-04,139.7500,28.0469,26.0625,52.6250,29.6094,26.6250,17.7629,29.2188,22.1094,25.7188,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-05,140.0000,27.9219,26.7500,51.8438,29.3438,27.2969,17.6233,28.8594,22.5000,26.7813,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-06,137.7500,28.2969,27.7813,50.1250,29.4375,27.2500,18.3973,29.1875,22.9219,27.4688,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-07,145.7500,29.3750,28.0781,51.0000,29.7969,27.4844,18.7018,30.5625,24.3750,27.4531,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
etfs_df.resample("BMS").first().tail()

,SPY,XLI,XLE,XLK,XLV,XLU,XLF,XLY,XLP,XLB,...,IEI,SHY,MBB,VCIT,USHY,UUP,FXE,FXB,FXY,FXA
date,,,,,,,,,,,,,,,,,,,,,
2022-12-01,407.38,101.75,90.85,136.15,139.42,71.37,36.10,146.15,76.84,82.85,...,116.43,81.43,94.37,79.14,35.34,28.26,97.10,117.6000,68.99,67.4040
2023-01-02,380.82,98.42,84.40,123.26,135.46,70.50,34.32,128.39,74.27,77.60,...,115.23,81.24,93.19,77.88,34.59,28.11,97.39,115.1400,71.27,66.5586
2023-02-01,410.80,102.59,88.16,139.16,133.99,69.21,36.56,151.52,74.33,85.21,...,117.73,81.79,96.45,81.22,35.94,27.25,101.40,118.8478,72.39,70.5755
2023-03-01,394.74,101.37,85.34,135.52,126.96,63.93,35.60,143.71,71.50,82.47,...,113.79,80.68,92.07,77.27,34.70,28.27,98.38,115.4900,68.41,66.7500
2023-04-03,410.95,101.36,86.58,150.77,130.91,67.23,32.21,148.17,75.10,81.17,...,117.80,82.08,94.90,80.47,35.35,27.75,100.64,119.3600,70.35,67.2000

In [9]:
etfs_df.resample("BMS").first().reset_index().to_csv(os.path.join(dir_path, "data", "inputs", "etfs_full_resample.csv"), index=False)